.card {
  transition: transform 0.3s ease; /* Add smooth transition for hover effect */
  box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);

  /* margin: "100px"; */
 
}

.card:hover {
  transform: scale(1.05); /* Scale up the card slightly on hover */
}
.closebtn{
  /* position: absolute; */
  position: relative;
  top: 0;
  left: 90%;
  z-index: 999;
  color: red;
  transition: transform 0.3s ease;  
}
.closebtn:hover {
  transform: scale(1.5);
}
.card:hover .title {
  color: #ff0000; /* Change the title color on hover */
}
.spinner {
  position: absolute;
  top:100px;
  left: 100px;
  /* text-align: center; */
}
.image {
  margin: 5px;
}
.title {
  height: 4rem;
  font-size: 1.3rem;
}

.highlight {
  color: orangered;
  
}
.figure{
  /* width: '200px';
  height: '200px'; */
  background-color: 'darkgrey';
  display: 'flex';
  width: 400px;
  height: 400px;
  /* justifyContent: 'center';
  alignItems: 'center'; */
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  
}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .highlight{
    color: #ff0000;
    font-size: small;
  }
}

/* Styles for screens larger than 992px */
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }

}
