.firstbox {
  display: flex;
}
.firstbox h3 {
  margin-left: 4rem;
  font-size: 3rem;
}
.secondbox {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 2rem 2rem; 
  border: 1px solid transparent; 
  background: linear-gradient(to right, #ff9a9e, #fad0c4); 
  border-image-slice: 1; 
  border-width: 10px; 
  border-color: burlywood;
  position: relative;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
 
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .firstbox{
    display: block;
  }
  .firstbox img{
    width: 95%;
  }
}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .firstbox{
    display: block;
  }
  .firstbox img{
    width: 95%;
  }
}

/* Styles for screens larger than 992px */
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  /* .firstbox{
    display: block;
  } */
}